@import "elements.less";

//  VARIABLES

// path
@img:               "../img";

//colors
@basic-color:       #fff;
@second-color:		#ccc;
@basic-text-color:  #000;
@white-transp-25:   rgba(255,255,255,0.25);
@white-transp-50:   rgba(255,255,255,0.50);
@white-transp-75:   rgba(255,255,255,0.75);
@scroll-top: 		#ccc;
@btn-color:			green;
@btn-shadow:        rgba(0,0,0,0.5);
@btn-text:          #fff;

//fonts
@basic-font:		Arial;

//  mixens



/*----------------------------------------------------
                    BASIC PROPERTIES
 -----------------------------------------------------*/

body{
    font-family: @basic-font;
    color: @basic-text-color;
}
.relative{
    position: relative;
}
section{
    position: relative;
    width: 100%;
}

.scrollTop{
    background: @scroll-top;
    display:block; 
    position:fixed; 
    bottom:10px; 
    right:10px;
    z-index:10;
    opacity: 0.3;
    cursor: pointer;
    font-size: 30px;
    padding: 5px 13px;
    i{
        color: #fff;
        line-height: 1em;
    }
}
.scrollTop:hover{ opacity: 0.7; }

.develop{
     text-align: right;
}

/*----------------------------------------------------
                     Other
 -----------------------------------------------------*/

.uppercase{
    text-transform: uppercase;
}

/* BODY */
.panel{
    h4{
        margin-top: 0;
        margin-bottom: 20px;
    }
}
.install{
    .group-checkbox{
        margin-bottom: 20px;
        display: inline-block;
        margin-left: 20px;
        input[type=radio].css-checkbox {
            position:absolute; 
            z-index:-1000; 
            left:-1000px; 
            overflow: hidden; 
            clip: rect(0 0 0 0); 
            height:1px; width:1px; 
            margin:-1px; 
            padding:0; 
            border:0;
        }

        input[type=radio].css-checkbox + label.css-label {
            padding-left:26px;
            height:21px; 
            display:inline-block;
            line-height:21px;
            background-repeat:no-repeat;
            background-position: 0 0;
            vertical-align:middle;
            cursor:pointer;
        }

        input[type=radio].css-checkbox:checked + label.css-label{
            background-position: 0 -21px;
            color : #000;
        }
        label.css-label {
            color: #ccc;
            background-image:url('@{img}/checkbox.png');
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    }
}

/* created by Mihail Abroskin vk.com/miker059 */